.page{
  min-width: 1100px;
  max-width: 1600px; 
  margin: 0 auto;
  font-family: 'Helvetica Neue', 'Arial', sans-serif;
}

.page__header {
  font-size: 72px;
  text-align: center;
}

.header {
  height: 100vh;
  min-height: 600px;
  min-height: 756px;
  position: relative;
  background-color: #f2f2f2;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
  width: 228px;
  height: 32px;
  z-index: 2;
}

.header__title {
  max-width: 730px;
  width: 90%;
  align-self: center;
  margin-left: 64px;
  line-height: 96px;
  font-size: 102px;
  font-weight: 600;
  padding: 0;
  z-index: 2;
}

.header__subtitle {
  max-width: 388px;
  width: 100%;
  position: absolute;
  bottom: 30px;
  left: 64px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  z-index: 2;
}

.header__link { 
  text-decoration: none;
  color: #2f80ed;

}

.header__main-illustration {
  width: 765px;
  height: 608px;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;
  object-fit: cover;
}
.header__square-pic {
  width: 568px;
  height: 568px;
  background: #2f80ed;
  position: absolute;
  top: 64px;
  right: 0px;
}
.description {
  margin-top: 100px;
  display: flex;
  justify-content: center;
}
.two-columns {
  display: flex;
  justify-content: space-between;
  width: 80%;
}
.two-columns__brief {
  max-width: 175px;
  width: 100%;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
  margin: 0;
  padding: 0;
}
.two-columns__main-text {
  width: 80%;
  min-width: 784px;
  margin: 0;
  padding: 0;
}
.two-columns__paragraph {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  padding: 0;
  margin: 0 0 30px;
}
.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: 600;
}
.digits {
  max-width: 1100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 100px auto;
}

.section-title{
  width: 60%;
  font-size: 60px;
  line-height: 1.15; 
  font-weight: 600;
  text-align: center;
  margin: 0 auto;
}
.section-subtitle{
  font-size: 24px;
  line-height: 34px;
  width: 60%;
  text-align: center;
  margin: 20px 0 auto;
}

.table{
  width: 1100px;
  list-style-type: none;
  display: flex;
  font-display: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.table__cell{
  width: 250px;
  margin: 60px 0 0 0;
}

.table__heading{
  font-size: 24px;
  line-height: 1.15;
  font-weight: 600;
  margin-bottom: 20px;
}

.table__text{
  font-size: 18px;
  line-height: 1.2;
  margin: 20px 0;
}

.feynman {
  min-height: 890px;
  height: 100%;
  background-color: #f2f2f2;
  background-size: 867px 637px;
  background-repeat: no-repeat;
  background-position: left bottom;
  background-image: url(../img/feynman.png);
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.feynman__title {
  margin: 100px auto 0 auto;
  max-width: 648px;
  width: 100%;
  line-height: 1.5;
  font-size: 120px;
  font-weight: 600;
  text-align: center;
}
.feynman__subtitle {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  margin: 70px auto 0 auto;
  text-align: center;
}
.feynman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-decoration: none;
  color: #2f80ed;
}

.kaufman{
  background-color: #1f1f1f;
  padding: 90px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 0;
  overflow: hidden;
}

.section-title_theme_dark{
  color: #ffffff;
}
.section-subtitle_theme_dark {
  color: #ffffff;
  margin-top: 20px;
}
.table_theme_dark {
  color: #ffffff;
  margin: 0 auto;
}
.table__cell_theme_dark {
  color: #ffffff;
  width: 200px;
}
.table__heading_theme_dark {
  color: #ffffff;
}
.table__text_theme_dark {
  color: #ffffff;
}
.kaufman__triangle{
  background-image: url(../img/kaufman-triangle.svg);
  position: absolute;
  width: 877px;
  height: 877px;
  top: 0;
  right: -210px;
  background-size: cover;
  z-index: -1;
}

.footer {
  color: #ffffff;
  background-color: #1f1f1f;
  min-height: 350px;
  height: 100%;
  display: flex;
  justify-content: center;
}
.footer__columns {
  width: 90%;
  display: flex;
  margin: 60px 0 40px 0;
  flex-direction: row;
  justify-content: space-between;
}
.footer__column {
}
.footer__column_content_copyright {
  flex-basis: 711px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}
.logo {
  width: 228px;
  height: 32px;
}
.logo_place_footer {
  background-image: url(../img/logo_place_footer.svg);
}
.footer__column_content_info {
  display: flex;
  flex-direction: column;
}
.footer__column-heading {
  line-height: 30px;
  font-size: 18px;
  font-weight: 600;
  margin: 0 0 20px 0;
}
.footer__column-links {
  margin: 0 0 16px 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  list-style: none;
}
.footer__column-link {
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  color: #fff;
  text-decoration: none;
  
}

.footer__social-icon {
  margin-right: 10px;
  width: 16px;
  height: 16px;
}
.footer__author {
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}